body {
  font-family: Arial;
  background-color:grey;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  color:white;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
table,th,td{
		border:2px solid black;
		border-collapse:collapse;
		text-align:center;
		background-color:white;
		padding:12px;
		margin:auto;
}
table{
		width:65%;
		font-family:bold;
}
th:hover{
	background-color:lightgrey;
}

td:hover{
	background-color:#4d94ff;
}
th{
	color:black;
	background-color:white;
	font-size:20px;
}
td{
	color:black;
	text-align:left;
	font-size:20px;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  color:black;
}



footer:hover{
  background-color:black;
}
#logo{
  width:40px;
  hight:40px;
}
#logo:hover{
  filter: brightness(50%);
}
